# Postgres settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django database URL (must match Postgres settings)
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Django superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin123
DJANGO_SUPERUSER_EMAIL=admin@example.com

# Django secret key & debug
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

# Site Settings
DJANGO_ALLOWED_HOSTS='localhost:8000'
SITE_MAIN='http://localhost:3000'
SITE_API='http://localhost:8000'
SITE_ADMIN='http://localhost:8000/admin'

# CORS (comma-separated list of allowed origins)
CORS_ALLOWED_ORIGINS='http://localhost:3000'